header nav a {
  text-decoration: none;
  display: inline-block;
}

a {
	color: #000000;
	font-size: 11px;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	width: 32px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
}
nav{
	display: inline-block;
	vertical-align: middle;
}


.logo {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	vertical-align: middle;
}

/* Remove bullet points */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* Remove blue underline & style links */
a {
  text-decoration: none; /* removes underline */
  color: black; /* or whatever color you want */
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 700;
  width: 32px;
  height: 13px;
}

.trending {
  padding: 40px;
}

.section-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: Roboto;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: calc(33.333% - 13.33px); /* 3 cards per row */
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
  font-family: Roboto;
}

.card-description {
  font-size: 13px;
  color: #333;
  margin-bottom: 10px;
  font-family: Roboto;
}

.card-time {
  font-size: 12px;
  color: gray;
}

/*happening now*/
}
.happening-now {
  padding: 40px;
}


.happening-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.happening-large {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 758px;
  height: 430px;
}

.happening-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.happening-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  font-family: Roboto;
}

.happening-small-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.happening-small {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
}
.happening-now{
padding: 40px;
}


/* Footer styles */
footer {
  background: #1c2b45;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}